# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.swp

*.sln
*.vcxproj
*.filters
*.user

.vs/*

*.db
*.opendb

*.suo
*.ipch
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.ilk
*.log

*.APS
*.txt

tags
